---

- name: DOMAIN EXPORTER DOCKER TASK | Start Docker Container
  docker_container:
    name: "{{ domain_exporter_config['docker_opts']['container_name'] }}"
    image: "{{ domain_exporter_config['docker_opts']['image_name'] }}:{{ domain_exporter_config['docker_opts']['image_tag'] }}"
    state: started
    restart_policy: always
    detach: yes
    interactive: yes
    tty: yes
    ports: "{{ domain_exporter_config['docker_opts']['ports'] | default(omit) }}"
    log_driver: "{{ domain_exporter_config['docker_opts']['log_driver'] | default(omit) }}"
    network_mode: "{{ domain_exporter_config['docker_opts']['network_mode'] | default('bridge') }}"
    networks: "{{ domain_exporter_config['docker_opts']['networks'] | default(omit) }}"
    purge_networks: "{{ domain_exporter_config['docker_opts']['purge_networks'] | default(omit) }}"
    env: "{{ domain_exporter_config['docker_opts']['env_vars'] | default(omit) }}"
